/*Crystal Game Style*/

body {
	background-color: #ccc;
	
}

h1 {
	font-size: 34px;
}


#scoreCountHolder {
	background-color: #fff;
	color: blue;
	padding: 10px;
	text-align: center;
}

#targetNumberHolder {
	background-color: #fff;
	color: blue;
	padding: 10px;
	text-align: center;
}

.crystalImg {
	width: 150px;
	padding: 10px;
	border: 4px solid black;
	border-radius: 5px;
	
}

