/*Crystal Game Style*/

body {
	background-color: #ccc;
	
}

h1 {
	font-size: 34px;
}


#scoreCount {
	background-color: #fff;
	color: blue;
	padding: 10px;
	text-align: center;
}

#targetNumber {
	background-color: #fff;
	color: blue;
	padding: 10px;
	text-align: center;
}

.crystalImg {
	padding: 10px;
	margin: 0 auto;
}